<section id="footer" class="section">
  <section class="container {{ grid_size }}">
    <p>Grafik &amp; Web von Ale &amp; Katrin. Mit <a href="https://getgrav.org">Grav</a>.</p>
  </section>
</section>
